 body{
 	background: #f1eae2;
 }


.navbar-inverse {
  background-color: #f1eae2;
  
 }

 .navbar-brand>img {
   max-height: 100%;
   height: 200%;
   width: auto;
   margin: 0 auto;



    /*probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 

   .liPage {
    height: 3px;
    background: #fff;
    border-radius: 100px;
    margin: 10px auto 0;