<% include ./partials/header %>


<link rel="stylesheet" href="/stylesheets/temp.css">

<!-- Navigation -->










<!-- Page Content -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="/stylesheets/howtoscoot.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<div class="container">

    <!-- Portfolio Item Heading -->
    <!-- <h1 class="my-4">Page Heading
      <small>Secondary Text</small>
    </h1> -->
  
    <!-- Portfolio Item Row -->
    <div class="row" id="howtoscoot" style="padding-top: 30px;">
  
      <div class="col-md-8">
        <img class="img-fluid" src="/images/lime1.png" alt="">
      </div>
  
      <div class="col-md-4"  style="padding-top: 40px;">
        <h3 class="my-3">Scoot</h3>
        <p>Scoot is an electric scooter sharing technology which includes bicycles as well in its fleet.Scoot helps people cover a short distance without any wait at a very nominal cost. Scoot is a dock less e-scooter sharing app. Just pick up an e-scooter by scanning QR through the website, ride and park it sensibly anywhere</p>
        <h3 class="my-3">How to Scoot?</h3>
        <ul>
          <li>Find a scoot</li>
          <li>Tap and scan </li>
          <li>Park and lock </li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->

    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  



























  <!-- after navbar content -->
  <div class="ui main container">
    
    <!-- WHAT IS SCOOT -->


    <div class="ui grid">
      <div class="two column row">
        <div class="column">
          <div class="ui basic segment" style="padding-top:0px">
            <div class="ui huge header">What is Scoot?</div>
            <hr>
            <div>
              <p> Our idea was founded on a simple question: How do we ensure future generations will not only be able to live on a healthy
              planet, but thrive? </p>
              <p>Our company aims to provide a sustainable solution to the first and last mile transportation problem
              by helping people move around their cities in an affordable and convenient way while eliminating their carbon footprint. </p>
              <p>We are here to empower future generations to change their behavior so we can save this planet together. Scoot is a disruptive
              electric scooter sharing technology platform to solve this last mile problem. Helps people cover a short distance without
              any wait at a very nominal cost. Just pick up a scoot by scanning QR through the app, ride and park it sensibly anywhere.
              Scoot’s vision is to make India a greener & fitter cycling nation. </p>

            </div>

        </div>
      </div>
      <div class="column">
        <img src="/images/scooters.jpg">
      </div>
    </div>
    </div>

<!-- 
<div class ="bikes">
    
    <h1 align="center">Smart Bikes</h1>
    
    <img src="sco.png" style="width:100%;">
        <h5>LimeBike single speed bikes are perfect for cruising in style. 3G, GPS-enabled and equipped with classic spokeless wheels, they're the definition of making a single-speed statement<h5>
            <h1 align="center">Electric Assist</h1>
            <img src="sco2.png" style="width:100%;">
                <h5>Lime-E electric assist bikes will change the way you look at cycling. With a smart motor that responds to the torque you apply to the pedals, it's the easiest bike ride you'll ever experience.</h5>
            </div> -->


    <!-- cards -->
    <div class="ui three column grid">
      <div class="column">
        <div class="ui raised card">
          <div class="image">
            <img src="/images/fitness.png">
          </div>
          <div class="content">
            <a class="center aligned header">DRIVING FITNESS</a>
            <div class="description">Slice of 1 billion </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised card">
          <div class="image">
            <img src="/images/pollution.png">
          </div>
          <div class="content">
            <a class="center aligned header">SOLVING BIGGEST MENACE</a>
            <div class="description">Traffic & Pollution</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised card">
          <div class="image">
            <img src="/images/Green_power.png">
          </div>
          <div class="content">
            <a class="center aligned header">GREEN POWER</a>
            <div class="description">Plant 1 per 100 rides</div>
          </div>
        </div>
      </div>

      
    </div>
    <!-- cards -->





    <!-- How to ride -->
    
    <div class="ui huge centered header">How to ride Dock-Free Bikes & Scooters</div>
    <div class="ui two column grid">
      
      <div class="column">
        <img class="ui large image" src="https://www.limebike.com/hubfs/Assets/how-to-2018-1.jpg?t=1531750752773" alt="" srcset="">
      </div>

      <div class="column">
          <img class="ui large image" src="https://www.limebike.com/hubfs/Assets/how-to-2018-2.jpg?t=1531750752773" alt="" srcset="">
        </div>
        
      <div class="column">
          <img class="ui large image" src="https://www.limebike.com/hubfs/Assets/how-to-2018-3.jpg?t=1531750752773" alt="" srcset="">
        </div>

      <div class="column">
          <img class="ui large image" src="https://www.limebike.com/hubfs/Assets/how-to-2018-4.jpg?t=1531750752773" alt="" srcset="">
        </div>

      <div class="column">
          <img class="ui large image" src="https://www.limebike.com/hubfs/Assets/how-to-2018-5.jpg?t=1531750752773" alt="" srcset="">
        </div>

      <div class="column">
          <img class="ui large image" src="https://www.limebike.com/hubfs/Assets/how-to-2018-6.jpg?t=1531750752773" alt="" srcset="">
        </div>



  </div>

  
    
  </div>


  <!-- main container div -->





  <p></p>
  <p></p>

















<!-- dont touch this -->
<!-- why scoot full width  -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <br> -->
<br>
<br>
<br>
<br>
<br>
<br>
<div class='full ' style='background: #f5f5f5;' id='paddingtop30'>
  <br>
    <div class='row'>
      <div class='large-10 large-centered columns'>
        <div class='alt mod modSectionHeader'>
          <div class='special-title centered-text'>
            <h2 style=''>
              Why Scoot?
            </h2>
            <h3>Quick Short commute | Green Tech | No pollution | Less Traffic | Fitness</h3>
          </div>
        </div>
        <div class='two spacing'></div>
      </div>
    </div>
  </div>


  <!------ Include the above in your HEAD tag ---------->
  
  <% include ./partials/footer %>



  
</body>

</html>
