<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
      <h1 align="center">Scoot sharing FAQS</h1>
      <br>
      <br>
      <p align ="center">You've got questions. Scoot has answers. From "How do I pay for a Scoot" to "How do I locate a Scoot near me", find out all you need to know about our smart scoot sharing service here.</p>
      <br>
      
      <br>
    <aside class="accordion">
        <h1>How Scoot works</h1>
        <div>
            <h2>How do I find a Scoot near me?</h2>
            <p>To find a Scoot near you, simply open the Scoot website. You can see a list of availible vehicles in the area through a map and pricing as well, showing all available Scoots in your area. If you don’t see any vehicle icons displayed on the map, zoom out to search a wider area.</p>
            <h2>How do I unlock a Scoot?</h2>
            <p>Unlocking  the Scoot vehicle can be done by scanning the Qr code availible on the vehicle.</p>
            <h2>How do I end a Ride?</h2>
            <p>First, please make sure you’re parking in a safe, appropriate location. Dock free bikes and scooters only work if we all take responsibility and park in places that don’t block car traffic, impede pedestrian access or encroach on private property.To lock your Scoot, simply push down on the locking arm connected to the rear wheel to lock the bike. To lock your Scoot, simply click "End Ride" in the webapp. Voila! After completing your ride, the app will provide you with a trip summary.</p>
        </div>
        
        <h1>Payment</h1>
        <div>
            <h2>How much does Scoot cost?</h2>
            <p>The per ride cost is Rs.5.Monthly Subscription costs Rs. 99.Yearly subscription is Rs.999.</p>
      
            <h2> How do I pay for the Ride?</h2>
            <p> Simply enter your credit card information into the webapp and purchase credits you can use for future rides.</p>
        </div>
        <h1>Privacy and Safety</h1>
        <div>
            <h2>Are helmets required for users?</h2>
            <p>Helmet laws vary from city to city. Whenever possible, Scoot distributes free custom-designed helmets to the communities we serve as a way to educate our riders. The Scoot webapp also educates users on the best practices when riding a bike, e-bike or e-scooter.</p>
            <h2> How is Scoot keeping Riders safe?</h2>
            <p>Safety is our top priority. Scoot has developed a series of educational videos, dedicated instructional pages to ensure riders know and abide by applicable rules and regulations. We also offer free helmets to all riders with over Rs 99 in Scoot credit in their account, and our team works closely with cities to develop new features such as “Parked or Not” that address local safety concerns.</p>
            <h2>Why does Scoot ask for GPS location?</h2>
            <p>The Scoot webapp uses your GPS location to accurately show you Scoot vehicles that are in your vicinity.</p>
            <h2> What is Scoot doing to protect my data and privacy?</h2>
            <p>Scoot takes our customers' data and privacy very seriously. GPS data is always anonymized and aggregated before sharing with cities. Similarly, your information is never sold to third-party recipients, and a subpoena or other lawful process is required to access rider data in compliance with legal obligations.</p>
        </div>
        <h1>Community</h1>
        <div>
            <h2>How much does Scoot cost to my city?</h2>
            <p>Zero. Scoot incorporates easily into cities' existing transportation model and greatly reduces carbon footprints. We also cover all maintenance and rider education costs.</p>
            <h2> Does Scoot hire locally?</h2>
            <p>Yes. Scoot is committed to local hiring and community integration, and we work to ensure that all of our markets are staffed with locally-hired operations specialists.</p>
            </div>
    </aside>
    <script src="/js/jq.js"></script>  
    <script src="/js/accordion.js"></script>
</body>
</html>







