<html>
    <link rel="stylesheet" href="/stylesheets/referral.css">
    <head><Title>Referral Page</Title></head>
    <body>
    <br>
    <br>
    <div class="wrapper">
            <div class="content u-flexCenter u-sizeViewHeightMin100">
              <div class="shareUrl u-verticalGrid u-marginAuto u-size1040">
                <header class="shareUrl-header">
                  <h1 class="shareUrl-headerText">Send your promo code and earn a free ride!</h1>
                </header>
                <div class="shareUrl-body">
                  <div class="container">
                    <!-- COPY INPUT -->
                    <input class="shareUrl-input js-shareUrl" type="text" readonly="readonly" />
                    <p class="shareUrl-subtext">Click above to copy the code</p>
                    <p class="shareUrl-headerSubtext">Every time a user signs up with your invite code, they get a free ride. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="/js/referral.js"></script>
          </body>
</html>