<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <title>Vertical Navbar with Unlimited Dropdown Menu by Habib Pro</title> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/newprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">


</head>

<body>

    <nav>
        <ul>
            <li><a href="#">My Trips</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="#">Free Rides</a></li>

            <!--  -->
        </ul>
    </nav>
<!-- <div class="ui card">
    <div class="content">
        <div class="header">Project Timeline</div>
    </div>
    <div class="content">
        <h4 class="ui sub header">Activity</h4>
        <div class="ui small feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <a>Helen Troy</a> added two pictures
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra content">
        <button class="ui button">Join Project</button>
    </div>
</div> -->

<!-- <div class="ui centered cards">
    
    <div class="card">
        <div class="content">
            <div class="header">Elliot Fu</div>
            <div class="description">
                Elliot Fu is a film-maker from New York.
            </div>
        </div>
        <div class="ui bottom attached button">
            <i class="add icon"></i>
            Add Friend
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Veronika Ossi</div>
            <div class="description">
                Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
            </div>
        </div>
        <div class="ui bottom attached button">
            <i class="add icon"></i>
            Add Friend
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Jenny Hess</div>
            <div class="description">
                Jenny is a student studying Media Management at the New School
            </div>
        </div>
        <div class="ui bottom attached button">
            <i class="add icon"></i>
            Add Friend
        </div>
    </div>
</div> -->

<div class="ui centered cards" style="
    border-bottom-width: 10px;
    margin-bottom: 19px;
    padding-bottom: 45px;
    padding-top: 22px;
">
    <div class="card" style="
    margin-left: 168px;
    margin-right: 18px;
">
        <div class="content">
            <div class="header">06 September 2018</div>
            <div class="header"><em>5:21 PM</em></div>
            <br>
            <div class="header" style="text-align:center">
                <i class="fas fa-rupee-sign"></i>
                <span id="firstride">29.03</span>
            </div>
        </div>
        <div class="ui bottom attached button">
            <i class="fas fa-arrow-right"></i>
             See details
        </div>
    </div>
    <div class="card" style="
    padding-right: 0px;
    margin-right: 18px;
">
        <div class="content">
            <div class="header">Veronika Ossi</div>
            <div class="description" style="
    padding-right: 0px;
    margin-right: 0px;
">
                Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
            </div>
        </div>
        <div class="ui bottom attached button" style="
    padding-right: 0px;
    margin-right: -1;
    padding-left: 0px;
">
            <i class="add icon"></i>
            Add Friend
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Jenny Hess</div>
            <div class="description">
                Jenny is a student studying Media Management at the New School
            </div>
        </div>
        <div class="ui bottom attached button">
            <i class="add icon"></i>
            Add Friend
        </div>
    </div>
</div>

    <!-- <a href="https://youtu.be/HSSFHMWxCuc" target="_blank" class="habibpro">
  VIDEO TUTORIAL
</a> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>



    <script src="/js/newprofile.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</body>

</html>