
<link rel="stylesheet" href="/stylesheets/ridefare.css">
<div class="container">

    <!--   <div id="logo"><i class="fab fa-lyft"></i></div> -->
    <div class="main">
        <h1>Hi Satyaraj,</h1>
        <h2>Thank you for riding with scoot!</h2>
        <p>(September 06, 2018 at 5:21pm)</p>
    </div>
    <div class="location">
        <img class="map" src="http://i63.tinypic.com/icss91.jpg" />
        <div class="location__line"></div>
        <div class="dot pickup">
            <div class="inner"></div>
        </div>
        <div class="location__pickup">
            <h3>Pick-up
                <span>11:21 AM</span>
            </h3>
            <p>3rd cross, SG PALYA
                <br>Bengaluru, KA</p>
        </div>
        <div class="dot dropoff">
            <div class="inner"></div>
        </div>
        <div class="location__dropoff">
            <h3>Drop-off
                <span>11:45 AM</span>
            </h3>
            <p>10th cross Tavarekere,
                <br>Bengaluru, KA</p>
        </div>
    </div>

    <h2 class="receipt__title">Ride Details</h2>
    <div class="receipt">
        <div class="receipt__grid1">
            <p>Scoot Fare</p>
            <p>Tip</p>
            <p>Discount (20% off)</p>
            <p class="total">Visa *0000</p>
        </div>
        <div class="receipt__grid2">
            <p>₹35.03</p>
            <p>₹1.00</p>
            <p>-₹7.00</p>
            <p class="total">₹29.03</p>
        </div>
    </div>
    <div class="receipt__line"></div>
    <div class="rate">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="far fa-star"></i>
    </div>
    <div class="lyft__footer">
        <p>
            <i class="far fa-copyright"></i> scoot 2018
            <br>
            <br> SG PALYA> Bengaluru, Karnataka 560029</p>
        <div class="lyft__social">
            <a href="https://facebook.com/lyft" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/lyft" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/lyft" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>

</div>

<!-- <footer>
  <p>made by <a href="https://codepen.io/juliepark"> julie</a> ♡
</footer> -->